{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}

<!-- PAGE : CONTACT -->
<section id="contact" class="page">
    <div class="content">
            
           

        <!-- row -->
        <div class="row">
            
            
            <!-- column 6/12 -->
            <div class="col-md-6">
                             
                <h2 class="section-title"><span><i class="icon-address-book"></i>RESTONS EN CONTACT</span></h2>
                
                <!-- LETTER -->
                <div class="letter">
                    
                    <h4 class="letter-title">Valentin Bourgoin</h4>
                    
                    <div class="stamp">
                      <img src="https://graph.facebook.com/valentinbourgoin/picture?type=square&width=114&height=134" alt="stamp">
                    </div>
                  
                    <div class="letter-info">
                        <p><i class="icon-at"></i>contact@valentinbourgoin.net</p>
                        <p><i class="icon-gplus"></i>valentin.bourgoin</p>
                        <p><i class="icon-location"></i>Paris - 20<sup>ème</sup> arrondissement</p>
                    </div>
                    
                  </div>    
                  <!-- LETTER -->
               
            
              
                  
            
          </div>
          <!-- column 6/12 -->
          
          
          <!-- column 6/12 -->
          <div class="col-md-6">
          
          
                  <h2 class="section-title"><span><i class="icon-chat"></i>SOCIAL</span></h2>
          
                  <!-- SOCIAL -->
                  <ul class="social">
                    <li><a class="facebook" href="https://www.facebook.com/valentinbourgoin" target="_blank"></a></li>
                    <li><a class="twitter" href="https://www.twitter.com/valentin_" target="_blank"></a></li>
                    <li><a class="linkedin" href="https://www.linkedin.com/profile/view?id=32219766&trk=nav_responsive_tab_profile_pic" target="_blank"></a></li>
                    <li><a class="github" href="https://www.github.com/valentinbourgoin" target="_blank"></a></li>
                    <li><a class="instagram" href="http://instagram.com/valentinbgn" target="_blank"></a></li>
                    <li><a class="lastfm" href="http://www.lastfm.fr/user/NextVal" target="_blank"></a></li>
                    <li><a class="foursquare" href="https://fr.foursquare.com/valentin_" target="_blank"></a></li>
                  </ul>
                  <!-- SOCIAL -->
                  
                                    
          </div>
          <!-- column 6/12 --><!-- column 6/12 -->
            
            
            
        </div>                  
        <!-- row -->      
                          
                              
                          
    </div>
</section>
<!-- PAGE : CONTACT -->

{% endblock %}