{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}

 <!-- PAGE : RESUME -->
<section id="resume" class="page">
    <div class="content">
        <!-- CONTENT -->
                       
                        
        <!-- row -->
        <div class="row">
        
            
            <!-- col 6/12 -->
            <div class="col-md-6">
                          
                <!-- timeline -->
                <div class="timeline">
                
                    <h2><i class="fa fa-briefcase"></i>Expérience professionnelle</h2>
                    
                    <div class="event current">
                        <span class="date">2010</span>
                        <h4>Ingénieur web</h4>
                        <h5>Indépendant</h5>
                        <p>
                            Développement web front / back (HTML5, CSS3, jQuery, angularJS / PHP, Wordpress, Django, Prestashop...). <br />
                            Méthodologie Agile (SCRUM). <br />
                            Conseil / formation. 
                        </p>
                    </div>
                    
                    
                    <div class="event current">
                        <span class="date">2010</span>
                        <h4>Chargé de TD</h4>
                        <h5>Université de Paris-Est Marne-la-Vallée</h5>
                        <p>
                            Chargé de TD de "programmation web" à l'école d'ingénieur IMAC. <br />
                            Thèmes abordés :
                            <ul>
                                <li>HTML5 / CSS3</li>
                                <li>Javascript (jQuery / AngularJS) + AJAX</li>
                                <li>PHP5 (MVC)</li>
                                <li>Python / Django</li>
                            </ul>
                            Projets en collaboration avec Numa.
                        </p>
                    </div>
                    
                    <div class="event">
                        <span class="date">2011</span>
                        <h4>Co-fondateur</h4>
                        <h5>Pülz</h5>
                        <p>Collectif de travailleurs indépendants multi-domaines (web, graphisme, audiovisuel...).</p>
                    </div>

                    <div class="event">
                        <span class="date">2009</span>
                        <h4>CTO</h4>
                        <h5>e-Citizen</h5>
                        <p>
                            <ul>
                                <li>Direction de l'équipe technique (4 personnes)</li>
                                <li>Cahiers des charges / faisabilité / Planning</li>
                                <li>Conception et architecture de l'application</li>
                                <li>Développement web (PHP5, Doctrine, Smarty)</li>
                                <li>Administration serveur (apache / nginx / montées en charge)</li>
                            </ul>
                        </p>
                    </div>
               
               </div>
               <!-- timeline -->
               
               
               <!-- timeline -->
               <div class="timeline">
                
                    <h2><i class="icon-college"></i>EDUCATION HISTORY</h2>
                    
                    <div class="event">
                        <span class="date">2009</span>
                        <h4>Ingénieur IMAC</h4>
                        <h5>Université de Paris-Est Marne-la-Vallée</h5>
                        <p>Formation multimédia généraliste.</p>
                    </div>
                    
               
               </div>
               <!-- timeline -->
               
              
              </div> 
              <!-- col 6/12 -->
               
               
               
               <!-- col 6/12 -->
               <div class="col-md-6">
                
                    <h2 class="section-title"><span><i class="icon-cog-1"></i>DEVELOPPEMENT BACK</span></h2>
                
                    <!-- DEV SKILLS -->
                    <div class="skillset">
                    
                        <!-- .skill-unit -->
                        <div class="skill-unit">
                            <h4>Frameworks PHP (Symfony2 / Zend)</h4>
                            <div class="bar" data-percent="100">
                                <div class="progress"></div>
                            </div>
                        </div>
                        <!-- .skill-unit -->
                        
                        <!-- .skill-unit -->
                        <div class="skill-unit">
                            <h4>Python / Django</h4>
                            <div class="bar" data-percent="90">
                                <div class="progress"></div>
                            </div>
                        </div>
                        <!-- .skill-unit -->
                        
                        <!-- .skill-unit -->
                        <div class="skill-unit">
                            <h4>Wordpress</h4>
                            <div class="bar" data-percent="80">
                                <div class="progress"></div>
                            </div>
                        </div>
                        <!-- .skill-unit -->

                        <!-- .skill-unit -->
                        <div class="skill-unit">
                            <h4>Prestashop</h4>
                            <div class="bar" data-percent="60">
                                <div class="progress"></div>
                            </div>
                        </div>
                        <!-- .skill-unit -->
                    
                    </div>
                    <!-- DEV SKILLS -->
                    
                    
                    
                    <h2 class="section-title"><span><i class="fa fa-code"></i>DEVELOPPEMENT FRONT</span></h2>
                    
                    <!-- DESIGN SKILLS -->
                    <div class="skillset">
                        
                        <!-- .skill-unit -->
                        <div class="skill-unit">
                            <h4>HTML5 / CSS3</h4>
                            <div class="bar" data-percent="100">
                                <div class="progress"></div>
                            </div>
                        </div>
                        <!-- .skill-unit -->

                         <!-- .skill-unit -->
                        <div class="skill-unit">
                            <h4>jQuery</h4>
                            <div class="bar" data-percent="100">
                                <div class="progress"></div>
                            </div>
                        </div>
                        <!-- .skill-unit -->

                         <!-- .skill-unit -->
                        <div class="skill-unit">
                            <h4>AngularJS</h4>
                            <div class="bar" data-percent="50">
                                <div class="progress"></div>
                            </div>
                        </div>
                        <!-- .skill-unit -->
                    
                    </div>
                    <!-- DESIGN SKILLS -->
                    
                    
                    
                    <h2 class="section-title"><span><i class="fa fa-laptop"></i>CLIENTS</span></h2>
                    
                    <!-- testo-group -->
                    <div class="testo-group">
                        
                        <!-- Testimonial -->
                        <div class="testo">
                            <img src="{% static 'images/site/testo-01.jpg' %}" alt="someone">
                            <h4>Lemon Curve <span>2011 / 2012</span></h4>
                            <p>
                                Développement complet d'un site e-commerce (Prestashop) en tant que CTO. <br />
                                Mise en place de méthodologie technique. <br />
                                Formation, accompagnement. 
                            </p>
                           
                        </div>
                        <!-- Testimonial -->
                        
                        <!-- Testimonial -->
                        <div class="testo">
                            <img src="{% static 'images/site/testo-02.jpg' %}" alt="someone">
                         
                                <h4>909C<span>2014</span></h4>
                                <p>
                                    Développement de plusieurs projets au sein d'une équipe. <br />
                                    Utilisation quotidienne de diverses API sociales (Facebook, Instagram, ...). <br />
                                    Mise en place et documentation d'une API sécurisée. <br />
                                    Technologies : Symfony2, Zend, angularJS.
                                </p>
                           
                        </div>
                        <!-- Testimonial -->
                        
                        <!-- Testimonial -->
                        <div class="testo">
                            <img src="{% static 'images/site/testo-03.jpg' %}" alt="someone">
                            
                                <h4>Brain Candy <span>2012</span></h4>
                                <p>
                                    Architecture d'une base de données de jeu vidéo. <br />
                                    Conception d'une API et calcul de statistiques de jeu. <br /> 
                                    CMS + site e-commerce en Python / Django.
                                </p>
                            
                        </div>
                        <!-- Testimonial -->
                    
                    </div>
                    <!-- testo-group -->
                    
                    
                    
                    
                    
                    
                    <h2 class="section-title"><a href="#"><span><i class="icon-doc-alt"></i>TELECHARGER MON CV</span></a></h2>
                    
                    
                    <h2 class="section-title"><a href="#"><span><i class="icon-linkedin"></i>MON PROFIL LINKEDIN</span></a></h2>
                    
                
               </div>
               <!-- col 6/12 -->
        
        
        </div>                       
        <!-- row -->                   
                            
                           
                            
                        
    </div>
    <!-- CONTENT -->
    
</section>
<!-- PAGE : RESUME -->

{% endblock %}