{% extends "base.html" %}
{% load staticfiles humanize %}

{% block content %}

<section id="about" class="page">
	<div class="content">
    
    
       
    
    	
        <!-- row -->
        <div class="row">
        	
            <!-- column 8/12 -->
        	<div class="col-md-8">
            	
                <h2 class="section-title"><span><i class="icon-guest"></i>A PROPOS</span></h2>
                
                <!-- intro -->
                <div class="intro">
        	
                    <h2>
                        
                        Hello. Je suis
                    
                        <span class="rotate-words">
                            <span>dév. web freelance.</span>
                            <span>django addict.</span>
                            <span>fan de fixies.</span>
                            <span>co-worker.</span>
                            <span>amateur de BD.</span>
                            <span>mordu de sport.</span>
                            <span>parfois barbu.</span>
                            <span>buveur de bières belges.</span>
                        </span>
                        
                        <br> 
                        Travailleur indépendant depuis de 2010, 
                        <br> 
                        je suis disponible, <strong>flexible</strong> et mobile.
                        
                    </h2>
                      
                </div>
                <!-- intro -->
                
                
            </div>
            <!-- column 8/12 -->
        	
            
            <!-- column 4/12 -->
            <div class="col-md-4">
            
            	<h2 class="section-title"><span><i class="icon-twitter"></i>DERNIERS TWEETS</span></h2>	
            	
                <div id="latest-tweets" class="widget-twitter" data-twitterId="512013654846230528" data-tweet-count="1"></div>
                
            </div>
            <!-- column 4/12 -->
            
            
        </div>
        <!-- row -->
        
        
        
        	      
                
        <h2 class="section-title"><span><i class="fa fa-magic"></i>SERVICES</span></h2>
                    
        <!-- SERVICES -->
        <div class="row">
            
            
            <div class="col-sm-6 col-md-3">
                
                <!-- service -->
                <div class="service color1">
                    <i class="fa fa-html5"></i>
                    <h4>Développement front-end</h4>
                    <p>Intégration (HTML5 / CSS3). <br />Responsive design. <br />Javascript, jQuery, angularJS. </p>
                </div>
                <!-- service -->
                
            </div>
            
            <div class="col-sm-6 col-md-3">
                
                <!-- service -->
                <div class="service color2">
                    <i class="fa fa-gears"></i>
                    <h4>Développement back-end</h4>
                    <p>
                    	Conception et déploiement. <br />
                    	Frameworks : (Django, Symfony2, Zend). <br />
                    	CMS : Wordpress, Prestashop. <br />
                    </p>
                </div>
                <!-- service -->
                
            </div>
            
            
            <div class="col-sm-6 col-md-3">
                
                <!-- service -->
                <div class="service color4">
                    <i class="fa fa-group"></i>
                    <h4>Méthodologie</h4>
                    <p>
                    	Planning, spécifications, documentation. <br />
                    	Fonctionnement agile (SCRUM). <br />
                    	Revue de code, TDD, versioning (git). 
                    </p>
                </div>
                <!-- service -->
                
            </div>

            <div class="col-sm-6 col-md-3">
                
                <!-- service -->
                <div class="service color3">
                    <i class="fa fa-suitcase"></i>
                    <h4>Conseil</h4>
                    <p>
                    	Lead developer avec joie. <br />
                    	Talks, conférences et formations. <br />

                    </p>
                </div>
                <!-- service -->
                
            </div>
            
        </div>
        <!-- SERVICES -->
        
                
        
        <h2 class="section-title"><span>EN BREF</span></h2>
                    
        <!-- FUN FACT -->
        <div class="row">

        	<div class="col-sm-6 col-md-3">
                
                <!-- fun-fact -->
                <div class="fun-fact">
                    <i class="icon-jabber"></i>
                    <h4>101 PROJETS TERMINÉS</h4>
                </div>
                <!-- fun-fact -->
                
            </div>

            <div class="col-sm-6 col-md-3">
                
                <!-- fun-fact -->
                <div class="fun-fact">
                    <i class="icon-child"></i>
                    <h4>41 CLIENTS RAVIS</h4>
                </div>
                <!-- fun-fact -->
                
            </div>
            
            
            <div class="col-sm-6 col-md-3">
                
                <!-- fun-fact -->
                <div class="fun-fact">
                    <i class="fa fa-code"></i>
                    <h4>803 K LIGNES DE CODE</h4>
                </div>
                <!-- fun-fact -->
                
            </div>
                       
            
            <div class="col-sm-6 col-md-3">
                
                <!-- fun-fact -->
                <div class="fun-fact">
                    <i class="icon-bicycle"></i>
                    <h4>{{ cycled | floatformat:"0" | intcomma }} KM <br />A VÉLO</h4>
                </div>
                <!-- fun-fact -->
                
            </div>
        
            
        </div>
        <!-- FUN FACT -->
        
        
        
        
        <h2 class="section-title"><span>CLIENTS</span></h2>
                    
        <!-- CLIENTS -->
        <div class="row">
            
            
            <div class="col-xs-6 col-sm-4 col-md-2">
                
                <!-- client -->
                <div class="client">
                    <a href="#">
                        <img src="{% static 'images/clients/client-01.png' %}" alt="client">
                    </a>
                </div>
                <!-- client -->
                
            </div>
            
            <div class="col-xs-6 col-sm-4 col-md-2">
                
                <!-- client -->
                <div class="client">
                    <a href="#">
                        <img src="{% static 'images/clients/client-02.png' %}" alt="client">
                    </a>
                </div>
                <!-- client -->
                
            </div>
            
            <div class="col-xs-6 col-sm-4 col-md-2">
                
                <!-- client -->
                <div class="client">
                    <a href="#">
                        <img src="{% static 'images/clients/client-03.png' %}" alt="client">
                    </a>
                </div>
                <!-- client -->
                
            </div>
            
            <div class="col-xs-6 col-sm-4 col-md-2">
                
                <!-- client -->
                <div class="client">
                    <a href="#">
                        <img src="{% static 'images/clients/client-04.png' %}" alt="client">
                    </a>
                </div>
                <!-- client -->
                
            </div>
            
            <div class="col-xs-6 col-sm-4 col-md-2">
                
                <!-- client -->
                <div class="client">
                    <a href="#">
                        <img src="{% static 'images/clients/client-05.png' %}" alt="client">
                    </a>
                </div>
                <!-- client -->
                
            </div>
            
            
            <div class="col-xs-6 col-sm-4 col-md-2">
                
                <!-- client -->
                <div class="client">
                    <a href="#">
                        <img src="{% static 'images/clients/client-06.png' %}" alt="client">
                    </a>
                </div>
                <!-- client -->
                
            </div>
            
        </div>
        <!-- CLIENTS -->
                
        
	</div>
</section>
<!-- PAGE : ABOUT -->
{% endblock %}